@import"reset";
@import"variable";
@import"global";
@import"fonts";
@import"page01-home";
@import"navigation-animation";
@import"pulse-animation";

// page 1 - Home

.wrapper-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: $red;
}


.welcome-message {
    text-transform: uppercase;
    color: white;
}


.button {
    width: 75px;
    height: 75px;
    border: solid 3px white;
    border-radius: 50%;
    border-image: white;
    background: white;
    animation: border-pulse 3s infinite ease-in-out;
}


.check-in {
    color: white;
}


// page 2 - Who are you?

.wrapper-main-who {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 3.5;
    padding: 0 5%;
}


.who {
    color: white;

    h1 {
        text-align: center;
        padding: 2rem, 1rem;
        height: 12vh;
    }
}


.form-list {

    select  {
        appearance: none;
        width: 100%;
        color: $red;
        height: 2rem;
        border: none;
        font-size: 1rem;
        padding-left: .5rem;
    }
    
    input {
        width: 100%;
        height: 2rem;
        border: none;
        font-size: 1rem;
        padding-left: .5rem;
    }
}


.show-validation {
  transition: 0.5s linear all;
}


.show-validation {
  input, select, textarea {
    &.ng-invalid {
      border-radius: 0;
      animation: invalid-input 0.5s infinite;
    }
  }
}


*::-webkit-input-placeholder {
    color: $red; 
}


.checkinbutton {
    width: 100%;
    height: 3rem;
    background-color: $red;
    border: none;
    margin: 28vh 0;
    font-size: 1rem;
    font-weight: 300;
    color: white;
}


// page 3 - Recent Encounters

.wrapper-main-recent {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}


.recent {
    padding: 2rem 1rem;
    text-align: center;

    p {
        font-weight: bold;
        margin-bottom: 5%;
    }
}


.encounter-list {
    overflow: scroll;
    height: 100%;
}


.encounter-list-item {
    margin: 1% 1%;
    display: flex;
    flex-direction: column;
}


.report-section {
    background-color: black;
    padding: 5rem 1rem;

    button {
        border: none;
        background-color: $red;
        color: white;
        width: 100%;
        padding: 1rem 1rem;
        font-size: 1rem;
    }
}


// page 4 - Report Encounter

.report-all {
    background-color: black;
    height: 100vh;
}


.wrapper-main-report {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}


.report {
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    font-weight: bold;
    padding-top: 4vh;
}


.report-list  {
    line-height: 5;

    .placeholder {
        color: $red;
    }

    select {
        appearance: none;
        width: 100%;
        font-size: 1rem;
        padding: .5rem 1rem;
        border: none;
    }
}


.text-area {
    
    textarea {
    width: 100%;
    height: 18vh;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    }
}


.submit-button {
    height: 50vh;

    input {
        width: 100%;
        color: white;
        background-color: $red;
        border: none;
        padding: 1rem 2rem;
        font-size: 1rem;
        font-weight: 400;
        margin: 30% 0 0;
    }
}
