
	<div class="report-all">
		<form name="myReportForm" action="" ng-class="{'show-validation': showValidation }" class="reportForm" ng-submit="submit()" novalidate>
			<div class="wrapper-main-report">
				<div class="report">
					<h1>Report Encounter</h1>
					<p>Safety on Mars is your responsibility</p>
				</div>

				<div class="report-list">
					<select name="alien-type" id="alien-type" ng-model="data.singleSelect" required>
					  <option value="" disabled="disabled" selected="selected">Select alien type</option>
					  <option value="lizard">Lizard Man</option>
					  <option value="slug">Giant Slug</option>
					  <option value="android">Rogue Android</option>
					  <option value="octospider">Octospider</option>
					  <option value="spiderpus">Spiderpus</option>
					</select>
				
					<div class="text-area">
						<textarea name="textarea" rows="10" cols="50">Action taken</textarea>
					</div>		
				</div>
				
				<div class="submit-button">
					<input class="reportbutton" value="Submit Report" type="submit" ng-click="submitReport($event, myReportForm)"/>
				</div>	
			</div>
		</form>
	</div>