		
		<div class="wrapper-main-who">		
			<div class="who">
				<h1>Who are you?</h1>
				
				<form name="myForm" action="" ng-class="{'show-validation': showValidation }" class="loginForm" ng-submit="enter($event, myForm)" novalidate>
					<div class="form-list">
						<input type="text" name="name" id="name" placeholder="Name" ng-model="user.first" ng-minlength="2" ng-maxlength="140" required/> </br>

						<input type="number" name="age" id="age" placeholder="Age" ng-model="user.age" min="1" max="200" required/> </br>

						<select name="occupation" id="occupation" ng-model="data.singleSelect" required>
						  <option value="" disabled="disabled" selected="selected">Select occupation</option>
						  <option value="janitor">Janitor</option>
						  <option value="alien">Alien Hunter</option>
						  <option value="dust">Dust Farmer</option>
						  <option value="battery">Battery technician</option>
						  <option value="yoga">Yoga teacher</option>
						</select>
					
					</div>
					<input class="checkinbutton" value="Check in" type="submit">
				</form>
			</div>
		</div>
		